{% extends 'template.html' %}
{% load static %}

{% block body %}
<main id="main">
          <div class="breadcrumbs d-flex align-items-center">
            <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
                <h2>Histoires</h2>
                <ol>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Histoires</li>
                </ol>

            </div>
        </div><!-- End Breadcrumbs -->
        <link rel="stylesheet" href="{% static 'timelines/style_button.css' %}">
        <!-- ======= Breadcrumbs ======= -->


        <section id="projects" class="projects">
            <div class="container" data-aos="fade-up">

                <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
                     data-portfolio-sort="original-order">

                    <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

                        <div class="col-lg-6 col-md-6 portfolio-item filter-remodeling">
                            <div class="portfolio-content h-100">
                                <img src="https://res.cloudinary.com/drjr2cpgn/image/upload/v1702404053/el%20maken/static/timelines/img/fadhel/4.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <a class="btn-retour" href="{% url 'timeline_detail' 1 %}">Fadhel Ben Achour</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 portfolio-item filter-remodeling">
                            <div class="portfolio-content h-100">
                                <img src="https://res.cloudinary.com/drjr2cpgn/image/upload/v1702404053/el%20maken/static/timelines/img/maken/3.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <a class="btn-retour" href="{% url 'timeline_detail' 2 %}">El Maken</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </section>
    </main><!-- End #main -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'>

    </script>
    <script src="{% static 'timelines/script.js' %}"></script>

{% endblock %}