{% load static %}

<!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'home' %}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="https://res.cloudinary.com/drjr2cpgn/image/upload/v1702403980/el%20maken/static/img/logo.png" alt="Logo el maken">

      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
    <ul>
        <li><a href="{% url 'home' %}" class="{% if request.path == '/' %}active{% endif %}">Home</a></li>
        <li><a href="{% url 'vr_tour' %}" class="{% if request.path == '/vr_tour' %}active{% endif %}">Faire un tour VR</a></li>
        <li><a href="{% url 'activities' %}" class="{% if request.path == '/activities' %}active{% endif %}">Activités</a></li>
        <li><a href="{% url 'timelines_list' %}" class="{% if request.path == '/timelines/' %}active{% endif %}">Histoire</a></li>
        <li><a href="{% url 'reservation' %}" class="{% if request.path == '/reservations' %}active{% endif %}">Reserver</a></li>
    </ul>
</nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->