{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
<title>ElMaken</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicon -->
  <link href="{% static 'img/logo.png' %}" rel="icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{% static 'timelines/style.css' %}">
    <link rel="stylesheet" href="{% static 'timelines/style_button.css' %}">
</head>
{% include 'header.html' %}
<body>
<div id="container"></div>
<div id="info">
</div>
<div class="timeline-container" id="timeline-1">
    <div class="timeline-header">
        <h2 class="timeline-header__title">{{ history_data.name }}</h2>
        <h3 class="timeline-header__subtitle">{{ history_data.subtitle }}</h3>
    </div>

    <div class="timeline">
        {% for event in history_data.events %}
            <div class="timeline-item" data-text="{{ event.period }}">
                <div class="timeline__content">
                    <img class="timeline__img" src="{% static event.image %}" alt="{{ history_data.name }}"/>
                    <h2 class="timeline__content-title">{{ event.year }}</h2>
                    <p class="timeline__content-desc">{{ event.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src="{% static 'timelines/script.js' %}"></script>
</body>